.wrapper {
  width: 100%;
  margin: 0 auto;
}

.header {
  background-color: #89f442;
  height: 60px;
}

.header-container {
  display: flex;
}

.container {
}

.main {
  background-color: #41f4cd;
}

.footer {
  background-color: #f441be;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .main,
  .side {
    width: 100%;
  }
}
